/* Estilos gerais */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-style: italic;
  width: 100%;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #ffffff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

#botao button {
  background: linear-gradient(to bottom, #4e89ae, #43658b);
  border: none;
  width: 100%;
  height: auto;
  margin: 0%;
  max-width: 35vh;
}

#botao button:hover {
  border: white;
  text-decoration: none;
}

header {
  background: linear-gradient(to bottom, #4e89ae, #43658b);
  padding: 10px 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

header h1 {
  color: #fff;
  font-size: 2.5rem;
  margin: 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

/* Estilo da seção "Sobre Mim" */
#sobre-mim {
  background: #f2f2f2;
  padding: 50px 0;
  text-align: center;
  background: linear-gradient(to bottom, #035caf, #0099ff);
  font-size: 3vh;
  color: rgb(5, 5, 5);
}

#sobre-mim p {
  margin: 5%;
}

#sobre-mim img {
  max-width: 100%;
  margin: 5%;
  margin-top: -5%;
}

/* Estilo da seção "Como Eu Trabalho" */
#como-eu-trabalho {
  background: #ffffff;
  padding: 50px 0;
  text-align: center;
  background: linear-gradient(to bottom, #0099ff, #c26903);
  font-size: 3vh;
  color: rgb(5, 5, 5);
}

#como-eu-trabalho p {
  margin: 5%;
}

/* Estilo da seção "Projetos" */
#projetos {
  background: #f2f2f2;
  padding: 50px 0;
  text-align: center;
  background: linear-gradient(to bottom, #b93704, #0084ff);
  font-size: 3vh;
  color: rgb(5, 5, 5);
}

#projetos p {
  margin: 5%;
}

/* Estilo do rodapé */
footer {
  color: #ffffff;
  padding: 20px;
  background: #4e89ae;
  font-size: 2vh;
  display: flex;
  align-items: center;
}

#redes-sociais img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Conteúdo das seções alinhados ao centro */
#sobre-mim div,
#como-eu-trabalho div,
#projetos div {
  margin: 0 auto;
  max-width: 800px;
}

.carousel-item img {
  height: 400px; /* Ajuste a altura desejada */
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.7); /* Cor de fundo do caption */
  padding: 10px; /* Espaçamento interno do caption */
  color: #fff; /* Cor do texto do caption */
}

@media (max-width: 768px) {
  /* Estilos para dispositivos de tela menores */
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  header h1 {
    font-size: 2rem;
  }

  header nav a {
    font-size: 1rem;
  }

  #sobre-mim {
    font-size: 2vh;
  }

  #como-eu-trabalho {
    font-size: 2vh;
  }

  #projetos {
    font-size: 2vh;
  }
}